name: actions timeline
on:
    workflow_dispatch:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    dotnet:
        permissions:
            contents: read
        runs-on: ubuntu-24.04
        timeout-minutes: 3
        steps:
            # Register this action before your build step. It will then be executed at the end of the job post-processing.
            - uses: Kesin11/actions-timeline@427ee2cf860166e404d0d69b4f2b24012bb7af4f # v2.2.3
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
              with:
                  persist-credentials: false
            - uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # v5.0.0
              with:
                  dotnet-version: 10.0.x
            - name: dotnet build
              run: dotnet build ./src/dotnet -c Debug
            - name: dotnet test
              run: dotnet test ./src/dotnet -c Debug --logger GitHubActions --logger "console;verbosity=normal"
            - name: dotnet publish
              run: dotnet publish ./src/dotnet/ -c Debug
