name: "action default"
on:
    workflow_dispatch:
    push:
        branches: ["main"]

jobs:
    action:
        env:
            FOO: foo
        permissions:
            contents: read
        runs-on: ubuntu-24.04
        timeout-minutes: 3
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
              with:
                  persist-credentials: false
            - name: setup env FOO
              run: echo "FOO=foo"  | tee -a "$GITHUB_ENV"
            - uses: ./.github/actions/action-default
