name: actions env diff
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  # GitHub Actions Hosted Runner default environment contains some .NET Environment.
  # * DOTNET_MUTILEVEL_LOOKUP=0
  # * DOTNET_NOLOGO=1
  # * DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1
  setup-dotnet:
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    timeout-minutes: 3
    steps:
      - run: mkdir -p out/
      - name: env (before)
        run: env | tee out/env-before.txt
      - uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
      - name: env (after)
        run: env | tee out/env-after.txt
      - name: diff env
        run: diff --side-by-side --suppress-common-lines out/env-before.txt out/env-after.txt
        continue-on-error: true
      - name: diff env (Detailed)
        run: diff --suppress-common-lines out/env-before.txt out/env-after.txt
        continue-on-error: true
