# automate output context to samples/xxxx_context/eventname_action.json
name: auto dump context
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}-${{ github.event.action }} # Just a latest workflow run
  cancel-in-progress: true

on:
  issues:
    types: [opened, transferred, closed]
  issue_comment:
    types: [created]
  push:
    branches: ["main"]
    tags: ["*"]
  pull_request:
    branches: ["main"]
    types: [opened, synchronize, reopened, closed, labeled]
  pull_request_target: # zizmor: ignore[dangerous-triggers]
    branches: ["main"]
    types: [opened, synchronize, reopened, closed, labeled]
  release:
    types: [created, published]
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch:

jobs:
  dump:
    if: ${{ github.actor != 'dependabot[bot]' }}
    permissions:
      contents: write
      pull-requests: write
    uses: ./.github/workflows/_reusable-dump-context.yaml
    with:
      output-path: contexts
