name: auto doc
on:
  workflow_dispatch:
  pull_request:
    branches: ["main"]
  push:
    branches: ["main"]

jobs:
  embed-code:
    if: ${{ github.actor != 'dependabot[bot]' }}
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-24.04
    timeout-minutes: 3
    steps:
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ secrets.SYNCED_ACTIONS_BOT_APPID }}
          private-key: ${{ secrets.SYNCED_ACTIONS_BOT_PRIVATE_KEY }}
          permission-contents: write
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.ref || '' }} # checkout PR HEAD commit instead of merge commit
          persist-credentials: false
      - name: Embedding Code into README
        run: |
          npm install -g embedme
          embedme README.md
      - name: Update current git to latest & Push changes
        uses: ./.github/actions/git-push
        with:
          commit-message: "[auto commit] Embedded code (workflow=${{ github.workflow }})"
          ref: ${{ startsWith(github.event_name, 'pull_request') && github.event.pull_request.head.ref || github.ref_name }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Set Git Remote
        run: git remote set-url origin "https://github-actions:${GITHUB_TOKEN}@github.com/${{ github.repository }}"
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
      - name: Generate TOC into README
        uses: technote-space/toc-generator@9e238e7974de5fcf7b17b7acc54c896160dda0a3 # v4.3.1
        with:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
          COMMIT_NAME: github-actions[bot]
          COMMIT_EMAIL: 41898282+github-actions[bot]@users.noreply.github.com
          COMMIT_MESSAGE: "[auto commit] Update TOC (workflow=${{ github.workflow }})"
          TOC_TITLE: "# Table of Contents"
          MAX_HEADER_LEVEL: "2"
          FOLDING: false
