name: aws oidc credential
on:
    workflow_dispatch:
    push:
        branches: ["main"]

jobs:
    aws:
        strategy:
            fail-fast: true
            matrix:
                multi: [a, b, c, d, e, f, g, h, i, j]
        permissions:
            id-token: write
            contents: read
        runs-on: ubuntu-24.04
        timeout-minutes: 5
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
              with:
                  persist-credentials: false
            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
              with:
                  aws-region: ap-northeast-1
                  role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
                  role-session-name: GitHubActions-${{ github.run_id }}
                  role-duration-seconds: 900 # minimum: 900sec, maximum: iam role session duration
