name: ban word checker
on:
  push:
    branches: ["main"]
    paths:
      - .github/workflows/*
      - .github/scripts/lint-banwords.sh
      - .github/ban-words.txt

jobs:
  aws:
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - run: bash .github/scripts/lint-banwords.sh --directory ".github/workflows" --file-filter "k8s.*yaml" --definition ".github/ban-words.txt"
