name: comment run
on:
  issue_comment:
    types: [created, edited]

jobs:
  comment-run:
    permissions:
      contents: read
      issues: write
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          # 0 indicates all history
          fetch-depth: 0
          persist-credentials: false
      - uses: nwtgck/actions-comment-run@eef5a9123b8fdc13af1cbd4cb8292316c0cbe2c5 # v3.0.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          allowed-associations: '["OWNER"]'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
