name: create pr
on:
  workflow_dispatch:

jobs:
  change:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      # make change
      - name: make changes
        run: date +%s > src/txt/report.txt
      # detect changes
      # o: `git status --porcelain=v1` could get both modified and newly added.
      # x: `git diff-index --quiet HEAD --` could get modified but not for newly added.
      - name: Check for modified files
        id: git-check
        run: echo "modified=$(if [[ "$(git status --porcelain=v1 2>/dev/null | wc -l)" == "0" ]]; then echo "false"; else echo "true"; fi)" | tee -a "$GITHUB_OUTPUT"
      # commit
      - name: commit
        run: |
          git remote set-url origin "https://github-actions:${GITHUB_TOKEN}@github.com/${{ github.repository }}"
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

          git switch -c "auto/create_pr" || git switch "auto/create_pr"
          git add .
          git commit -m "[automated] PR by $GITHUB_WORKFLOW" || true
          git push -u origin "auto/create_pr" --force
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_WORKFLOW: ${{ github.workflow }}
      # pr if change happen (force push when branch/pr already exists)
      - name: Create PullRequest
        if: ${{ steps.git-check.outputs.modified == 'true' }}
        run: |
          pr_exists=$(gh pr list --head "auto/create_pr" --base "${GITHUB_DEFAULT_BRANCH}")
          if [ -n "$pr_exists" ]; then
            echo "PR already exists for auto/create_pr -> ${GITHUB_DEFAULT_BRANCH}. Skipping creation."
          else
            title="[automated] Automated changes"
            body="GitHub Actions [${GITHUB_WORKFLOW}](${GITHUB_ACTIONS_RUN_URL}) generated changes :rocket:"
            gh pr create --title "$title" --body "$body" --label "automated pr"
          fi
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_DEFAULT_BRANCH: ${{ github.event.repository.default_branch }}
          GITHUB_ACTIONS_RUN_URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
          GITHUB_ACTIONS_JOB_URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}/job/${{ job.check_run_id }}
