name: create pr
on:
  workflow_dispatch:

jobs:
  change:
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      # make change
      - name: make changes
        run: date +%s > src/txt/report.txt
      # detect changes
      # o: `git status --porcelain=v1` could get both modified and newly added.
      # x: `git diff-index --quiet HEAD --` could get modified but not for newly added.
      - name: Check for modified files
        id: git-check
        run: echo "modified=$(if [[ "$(git status --porcelain=v1 2>/dev/null | wc -l)" == "0" ]]; then echo "false"; else echo "true"; fi)" >> "$GITHUB_OUTPUT"
      # commit
      - name: commit
        env:
          GITHUB_WORKFLOW: ${{ github.workflow }}
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          git switch -c "auto/create_pr"
          git add .
          git commit -m "[automated] PR by $GITHUB_WORKFLOW"
          git push -u origin "auto/create_pr"
      # pr if change happen (force push when branch/pr already exists)
      - name: Create PullRequest
        id: cpr
        if: ${{ steps.git-check.outputs.modified == 'true' }}
        run: gh pr create --title "[report.txt] Automated changes" --body "GitHub Actions runned on ${{ env.GITHUB_ACTIONS_RUN_URL }} generated changes :rocket:" --label "automated pr" --base "main" --head "auto/create_pr"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_ACTIONS_RUN_URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
          GITHUB_ACTIONS_JOB_URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}/jobs/${{ job.check_run_id }}
