name: debug downloaded remote action
on:
    workflow_dispatch:

jobs:
    remote:
        permissions:
            contents: read
        runs-on: ubuntu-24.04
        timeout-minutes: 3
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
              with:
                  persist-credentials: false
            # wow, remote action will be download under `/home/runner/work/_actions/{Owner}/{Repository}/{Ref}/{RepositoryStructures}`
            - name: debug
              run: ls -R /home/runner/work/_actions/actions/checkout/v4
            - name: debug by workspace
              run: ls -R ${{ github.workspace }}/../../_actions/actions/checkout/v4
