name: dotnet build only tag
on:
  push:
    tags:
      - "**" # only tag

jobs:
  build:
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - run: echo not run on branch push
      - run: echo "$REF_NAME"
        env:
          REF_NAME: ${{ github.ref_name }}


  runner:
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # v5.0.0
        with:
          dotnet-version: 8.0.x
      - run: dotnet build ./src/dotnet -c Release
      - run: dotnet test ./src/dotnet -c Release --logger GitHubActions --logger "console;verbosity=normal"
      - run: dotnet publish ./src/dotnet -c Release
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: dotnet-console
          path: ./src/dotnet/artifacts/publish/Sandbox.Console/
          retention-days: 1

  container:
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    container:
      image: mcr.microsoft.com/dotnet/sdk:8.0
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - run: dotnet build ./src/dotnet -c Release
      - run: dotnet test ./src/dotnet -c Release --logger GitHubActions --logger "console;verbosity=normal"
      - run: dotnet publish ./src/dotnet -c Release -o ./out/dotnet-console-container
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: dotnet-container
          path: ./out/dotnet-console-container/
          retention-days: 1

  release:
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    needs: [runner, container]
    steps:
      - uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
      - run: ls -l
      # zip up files
      - run: zip -r Sandbox.Console.zip ./dotnet-console
      - run: zip -r dotnet-console-container.zip ./dotnet-container
