name: git tag
on:
  workflow_dispatch:
    inputs:
      tag:
        required: true
        description: input your tag value

jobs:
  actionlint:
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: sleep
        run: sleep 60s
      - name: git tag
        env:
          TAG: ${{ inputs.tag }}
        run: |
          git tag "$TAG"
          git push origin "$TAG"
