name: git-ops k8s manifest
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  push_manifest:
    if: ${{ github.actor == github.repository_owner }} # because referencing secrets, restrict to owner.
    env:
      MANIFEST_DIR: dev/${{ github.event.repository.name }}/${{ github.event_name == 'pull_request' && github.head_ref || github.ref_name }}
      MANIFEST_REPO: kubernetes-manifest-lab
      NAMESPACE_PREFIX: githubactions-sample-
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    timeout-minutes: 3
    steps:
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ secrets.SYNCED_ACTIONS_BOT_APPID }}
          private-key: ${{ secrets.SYNCED_ACTIONS_BOT_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: |
            ${{ env.MANIFEST_REPO }}
          permission-contents: write
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          repository: ${{ github.repository_owner }}/${{ env.MANIFEST_REPO }}
          path: ${{ env.MANIFEST_REPO }}
          token: ${{ steps.app-token.outputs.token }}
          ref: ${{ github.event.repository.default_branch }}
          persist-credentials: false
      - name: generate manifest
        run: |
          mkdir -p "./${{ env.MANIFEST_REPO }}/${{ env.MANIFEST_DIR }}"
          kubectl kustomize ./src/k8s/app/overlays/development \
            | sed -e "s|<namespace>|${NAMESPACE_PREFIX}${{ env.MANIFEST_DIR }}|g" \
            | sed -e "s|<git-sha>|${{ github.sha }}|g" \
            | sed -e "s|<git-branch>|${BRANCH}|g" \
            | sed -e "s|<git-link>|${GITHUB_PR_URL}|g" \
            | sed -e "s|<build-id>|${{ github.run_id }}|g" \
            | tee "${{ env.MANIFEST_REPO }}/${{ env.MANIFEST_DIR }}/all.yaml"
        env:
          BRANCH: ${{ github.event_name == 'pull_request' && github.head_ref || github.ref_name }}
          GITHUB_PR_URL: ${{ github.event.pull_request.html_url }}
      - name: git push
        uses: ./.github/actions/git-push
        with:
          commit-message: "[automate] update manifests. origin: ${{ github.repository }}, trigger: ${{ github.event_name }}, pr: ${{ github.event.pull_request.html_url }}\n\ncompare: https://github.com/${{ github.repository }}/compare/main...${{ github.event.after }}\nUpdate by: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}/job/${{ job.check_run_id }}"
          ref: ${{ github.event.repository.default_branch }} # update default branch ref
          repository: ${{ github.repository_owner }}/${{ env.MANIFEST_REPO }}
          github-token: ${{ steps.app-token.outputs.token }}
          working-directory: ${{ env.MANIFEST_REPO }}
