name: javascript actions
on:
    workflow_dispatch:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    job:
        permissions:
            contents: read
        runs-on: ubuntu-24.04
        timeout-minutes: 3
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
              with:
                  persist-credentials: false
            # specify local action path with `uses: ./PATH/TO/ACTION`
            - name: Use JavaScript action
              id: action
              uses: ./.github/actions/javascript-actions
              with:
                  name: John
            - name: show output
              run: echo "greeting is ${{ steps.action.outputs.greeting }}"
