name: git-ops k8s manifest
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  push_manifest:
    if: ${{ github.actor == github.repository_owner }} # because referencing secrets, restrict to owner.
    env:
      MANIFEST_DIR: dev/${{ github.event.repository.name }}/${{ github.event_name == 'pull_request' && github.head_ref || github.ref }}
      NAMESPACE_PREFIX: githubactions-sample-
      REPO_MANIFEST: kubernetes-manifest-lab
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    timeout-minutes: 3
    steps:
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ secrets.SYNCED_ACTIONS_BOT_APPID }}
          private-key: ${{ secrets.SYNCED_ACTIONS_BOT_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: |
            ${{ env.REPO_MANIFEST }}
          permission-contents: write
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          repository: ${{ github.repository_owner }}/${{ env.REPO_MANIFEST }}
          path: ${{ env.REPO_MANIFEST }}
          token: ${{ steps.app-token.outputs.token }}
          persist-credentials: false
      - name: git checkout
        run: |
          git checkout -b "${BRANCH}"
          git reset --hard "${BRANCH}"
        env:
          BRANCH: ${{ env.REPO_MANIFEST }}/${{ github.head_ref }}
        working-directory: ${{ env.REPO_MANIFEST }}
      - name: generate manifest
        run: |
          mkdir -p "./${{ env.REPO_MANIFEST }}/${{ env.MANIFEST_DIR }}"
          kubectl kustomize ./src/k8s/common/overlays/development \
            | sed -e "s|<namespace>|${NAMESPACE_PREFIX}${{ env.MANIFEST_DIR }}|g" \
            | sed -e "s|<git-sha>|${{ github.sha }}|g" \
            | sed -e "s|<git-branch>|${BRANCH}|g" \
            | sed -e "s|<git-link>|${GITHUB_PR_URL}|g" \
            | sed -e "s|<build-id>|${{ github.run_id }}|g" > "${{ env.REPO_MANIFEST }}/${{ env.MANIFEST_DIR }}/all.yaml"
        env:
          BRANCH: ${{ github.head_ref }}
          GITHUB_PR_URL: ${{ github.event.pull_request.html_url }}
      - name: git push
        uses: ./.github/actions/git-push
        with:
          commit-message: "(${{ env.MANIFEST_DIR }}) update manifests ${{ github.repository }}#${{ github.event.pull_request.number }} (${{ github.run_id }})\n\ncompare: https://github.com/${{ github.repository }}/compare/main...${{ github.event.after }}"
          ref: ${{ github.event.repository.default_branch }} # update default branch ref
          repository: ${{ github.repository_owner }}/${{ env.REPO_MANIFEST }}
          github-token: ${{ steps.app-token.outputs.token }}
          working-directory: ${{ env.REPO_MANIFEST }}
