name: multiline inputs
on:
    workflow_dispatch:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    multiline:
        permissions:
            contents: read
        runs-on: ubuntu-24.04
        timeout-minutes: 3
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
              with:
                  persist-credentials: false
            - name: multiline strings
              uses: ./.github/actions/multiline-inputs
              with:
                  multiline-string: |
                      first line
                      second line
                      third line
            - name: singleline strings
              uses: ./.github/actions/multiline-inputs
              with:
                  multiline-string: single line
