name: pin sha
on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    pin-sha:
        permissions:
            contents: read
        runs-on: ubuntu-24.04
        timeout-minutes: 5
        steps:
            # Don't use a tag or branch, but specify the full sha instead
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
              with:
                  persist-credentials: false
