name: reuse local action
on:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  job:
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: use local action
        id: composite
        uses: ./.github/actions/local-composite-actions
        with:
          foo: BAR
      - name: show output
        run: echo "output number is ${{ steps.composite.outputs.number }}"
