name: shellscript error on return
on:
    workflow_dispatch:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    push_manifest:
        permissions:
            contents: read
        runs-on: ubuntu-24.04
        timeout-minutes: 3
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
              with:
                  persist-credentials: false
            - run: bash -c ./src/shellscript/exit_by_return.sh || echo failed
            - run: bash -c ./src/shellscript/exit_by_exit.sh || echo failed
        #- run: ./src/shellscript/exit_by_return.sh || echo failed # success fully override with `echo failed`
        #- run: ./src/shellscript/exit_by_exit.sh || echo failed # error with exit 1. could not override with `echo failed`
