name: workflowdispatch inputs
on:
  workflow_dispatch:
    inputs:
      branch:
        description: "branch name to clone"
        required: true
        default: "main"
        type: string
      logLevel:
        description: "Log level"
        required: true
        default: "warning"
        type: choice
        options:
          - debug
          - info
          - warning
          - error
      dry-run:
        description: "Enable dry-run mode"
        required: false
        type: boolean
      number:
        description: "An optional number"
        required: false
        default: 0
        type: number
      tags:
        description: "Test scenario tags"
        required: false

jobs:
  printInputs:
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    timeout-minutes: 3
    env:
      BRANCH: ${{ inputs.branch }}
      LOGLEVEL: ${{ inputs.logLevel }}
      TAGS: ${{ inputs.tags }}
      DRY_RUN: ${{ inputs.dry-run }}
    steps:
      - name: Show Environment Variables
        run: env
      - run: echo "BRANCH=${{ env.BRANCH }}, LOGLEVEL=${{ env.LOGLEVEL }}, TAGS=${{ env.TAGS }}, DRY_RUN=${{ env.DRY_RUN }}"
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ inputs.branch }}
          persist-credentials: false
      - name: Show Input value
        run: |
          echo "Log level: ${LOG_LEVEL}"
          echo "Number: ${NUMBER}"
        env:
          LOG_LEVEL: ${{ inputs.logLevel }}
          NUMBER: ${{ inputs.number }}
      - name: INPUT_ is not generated automatcally
        run: |
          echo "INPUT_BRANCH: ${INPUT_BRANCH}"
          echo "TEST_number: ${TEST_numer}"
